---
---

<nav class="sidebar">
 <div class="sidebar-main">
  <h3>Orpheus</h3>
  <li><a>Home</a></li>
  <li><a>Songs</a></li>
  <li><a>Albums</a></li>
  <li><a>Artists</a></li>
 </div>
 <div class="sidebar-mymusic">
  <h3>My Music</h3>
  <li><a>Recently played</a></li>
  <li><a>Favorite Songs</a></li>
  <li><a>Folders</a></li>
 </div>
 <div class="sidebar-playlists">
  <h3><a>Playlists</a></h3>
  <li><a>Playlist 1</a></li>
  <li><a>Playlist 2</a></li>
  <li><a>Playlist 3</a></li>
 </div>
</nav>