@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  --bg: rgb(11, 10, 40);
  --bg-container: rgb(12, 12, 42);
  --main: rgb(255, 82, 109);
  --font: rgb(92, 92, 127);
  --font-highlight: rgb(255, 255, 255);
  --font-fade: rgb(52, 51, 87);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: var(--bg);
  color: var(--font);
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  padding: 3em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 20%;
  height: 75%;
  background-color: var(--bg-container);
  border-bottom-left-radius: 20px;
}

.sidebar > div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.sidebar {
  list-style: none;
}

.sidebar > div > h3 {
  color: var(--font-fade);
}

.sidebar > div > li {
  transition: 0.3s ease;
  cursor: pointer;
  width: fit-content;
}

.sidebar > div > li:hover {
  color: var(--main);
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 8fr 4fr;
  gap: 2em;
  width: 100%;
}

.navbar > .BackFoward {
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  gap: 20px;
}

.navbar > input {
}

.MainContainer {
  display: flex;
  flex-direction: column;
  padding: 3em 1.5em;
  gap: 2em;
  height: 75%;
  width: 100%;
  background-color: var(--bg);
  border-bottom-right-radius: 20px;
}

.MainContainer > nav {
  position: fixed;
  top: 10px;
}

footer {
  position: fixed;
  z-index: -1;
  top: 87%;
  width: 100%;
  height: 13%;
  background-color: var(--main);
  display: flex;
  align-items: center;
  padding: 0.5em 1.5em;
}
